@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teko:wght@300..700&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Briem+Hand:wght@100..900&family=Courgette&family=Fjalla+One&family=Lilita+One&display=swap');
.abt{
    display:flex;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    background-color: #415971;
    border-radius: 30px;
}  
.abt img{
    height: 320px;
    border-radius: 30px;
}
.abt p{
    padding: 10px;
    font-size: 23px;
    text-align: justify;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: italic;
}
.about h2{
    padding-left: 10px;
    font-family: "Whisper", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}