.tab {
    text-align: center;
}

.tab h1 {
    font-size: 40px;
    font-family: "Whisper", cursive;
}

.tabapp {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adding a subtle box shadow */
    overflow: hidden; /* Ensure overflow content doesn't overlap */
}

.tabapp table {
    width: 100%;
    border-collapse: collapse; /* Combine table borders */
}

.tabapp thead {
    background-color: #415971;
    color: white;
    border-radius: 15px;
    font-family: "Teko", sans-serif;
    font-size: 20px;

}

.tabapp tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row colors for better readability */
}

.tabapp th,
.tabapp td {
    padding: 12px;
    text-align: left; /* Adjusting alignment */
}

.tabapp th:first-child,
.tabapp td:first-child {
    padding-left: 20px; /* Additional padding for the first column */
}

.tabapp th:last-child,
.tabapp td:last-child {
    padding-right: 20px; /* Additional padding for the last column */
}

.tabapp tbody {
    font-family: "Teko", sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
